
#root {
  max-width: 1200px;
  margin: 0 auto;
 
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  background-color: antiquewhite;
}

.search-bar {
  display: flex;
  justify-content: center;
  margin: 25px 0;
   gap: 7px;
}

input {
  padding: 10px 150px;
}

.srch-btn {
  padding: 10px 50px;
}

header {
  margin: 0;
  width: 100%;
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  letter-spacing: 1.5em;
  color: #ffffff;
  height: 50px;
  background-color: cornflowerblue;
}

.enter {
  display: flex;
  justify-content: center;
}

.displayed-weather {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sunrise-sunset {
  display: flex;
  align-items: center;
}

.city-name {
  background-color: rgb(141, 209, 255);
  padding: 5px 15px;
  font-size: 30px;
  font-weight: 550;
  margin-bottom: 1.5em;
}

.forecast {
  background-color: rgb(175, 230, 255);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  font-size: 20px;
  font-weight: 400;
  border: 2px dashed rgb(122, 192, 224);
  text-align: center;
}

.feels-like {
  margin-top: 5px;
  font-size: 15px;
}

.forecast-future {
  min-width: 60%;
  background-color: rgb(175, 230, 255);
  padding: 30px;
  border: 2px solid rgb(122, 192, 224);
  
}

.txt-forecast {
  align-items: center;
  font-size: 20px;
}

.day-btn {
  padding: 20px;
  font-size: 1.5em;
  cursor: pointer;
  border: 1px solid rgb(122, 192, 224);
  border-radius: 10px;
  
}

.day-btn.active {
  background-color: cornflowerblue;
  padding:20px 30px;
   border: 2px solid rgb(53, 97, 117);
  color: #ffffff;
}

.weather-section {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.days-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.day-times {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.info {
  font-size: 20px;
}

.info.time {
  font-weight: 600;
}

.time-period {
   display: flex;
   gap: 3em 0;
   flex-direction: column;
   align-items: center;
   justify-content: start;
}


.day-forecast {
  display: flex;
  justify-content: center;
}

.temp {
  font-weight: 600;
}

.city-weather {
  font-weight: 600;
}